/* .App {
  text-align: center;
} */

.dog-images {
  border: 5 px solid black;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10 px;
}
